body{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url(https://www.shutterstock.com/image-photo/old-industry-background-all-your-260nw-2236321845.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}